<div class="header">
    <div class="content">
        <p class="thanks byline brandon">MERCI DE VOUS ÊTRE INSCRIT</p>
    </div>
</div>

<div id="countdown_dashboard" class="countdown">
	<div class="title dash_title">Lancement dans</div>
	
	<div class="dash days_dash">
		<span class="dash_title">jours</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>

	<div class="dash hours_dash">
		<span class="dash_title">heures</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>

	<div class="dash minutes_dash">
		<span class="dash_title">minutes</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>

	<div class="dash seconds_dash">
		<span class="dash_title">secondes</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>
</div>
<div class="hero">
    <div class="page-content clearfix">
		
		<div class="description brandon">
			<ul>
				<li><img width="20px" src="<%= asset_path('alldock/check.png') %>"/><span>Ultra performant.</span> Avec un débit de 2400mA par sortie USB, rechargez un téléphone intelligent de 80% en moins d'une heure.</li>
				<li><img width="20px" src="<%= asset_path('alldock/check.png') %>"/><span>Ultra élégant.</span> Disponible en noir ou blanc avec fini mat ou bien avec un fini en bambou.</li>
				<li><img width="20px" src="<%= asset_path('alldock/check.png') %>"/><span>Ultra pratique.</span> Jusqu'a 6 sorties USB compatibles avec la plupart des connecteurs standards comme Lightning, 30-pin, micro-USB, etc.</li>
			</ul>
		</div>
        <div class="product">
            <img width="350px" src="<%= asset_path('alldock/Alldock large Verpackung 1.JPG') %>"/>
        </div>
        <div class="share-wrap">
            <p class="why brandon">Ne laissez pas vos <br>amis dans l'ombre!</p>
            <p class="title brandon">INVITEZ VOS AMIS <br>ET ECONOMISEZ</p>
            <p class="subtitle brandon">Partagez votre lien personnalisé par courriel, Facebook ou Twitter et recevez un rabais sur votre achat de AllDock pour chaque ami inscrit</p>
            <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
            <% twitter_message = "Lancement de AllDock. Station de recharge USB ultra performante et élégante." %>
            <div class="social-links">
                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=AllDock" class="fb" target="_blank"></a>
                <div class="sep"></div>
                <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
            </div>
        </div>
    </div>
</div>

<% 
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }   
 %>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <p class="callout brandon">Votre progression:</p>
        <ul class="products clearfix">
            <li class="title brandon"><p class="friends">Amis inscrits</p><p class="rewards">Économie cumulée</p></li>
            <% stops.each do |stop| %>
                <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>

                    <div class="tooltip">
                        <img src="<%= stop["image"] %>" height="254">
                    </div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
				<div class="bar clearfix">
				</div>
            </div>
        </div>

        <% 
            words = ''
            if referrals_count == 1
                words = 'ami inscrit'
            elsif 
                words = 'amis inscrits'
            end

        %>

        <% if referrals_count == 0 %>
            <p class="place brandon"><span>Auncun</span> ami inscrit...Encore!</p>
        <% else %>
            <p class="place brandon"><span><%= referrals_count %></span> <%= words %> </p>
        <% end %>
        <p class="check brandon">Vérifiez régulièrement</p>

        <div class="policy brandon"><a href="/privacy-policy" target="_blank">Politiques</a></div>
    </div>
</div>
<script type="text/javascript">

	$( document ).ready(function() {
	

	
	$('#countdown_dashboard').countDown({
					targetDate: {
						'day': 		20,
						'month': 	3,
						'year': 	2015,
						'hour': 	0,
						'min': 		0,
						'sec': 		0
					},
					omitWeeks: true
				});
	});
</script>